<h1>Welcome Practical Application</h1>
<p>Pages from <b>http://api.ihackernews.com/page</b> API</p>
<hr/>
<% if user_signed_in? %>
  <li>
    Your logged in as: <%=current_user.email%>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
    <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
<hr/>
<table class="table table-hover">
  <thead>
      <tr>
        <th>Title</th>
        <th>URL</th>
        <th>ID</th>
        <th>Comment Count</th>
        <th>Points</th>
        <th>PostedAgo</th>
        <th>PostedBy</th>
      </tr>
  </thead>
     <tbody>
      <%@result_data.each do |item|%>
      <tr>
        <td><%=item["title"]%></td>
        <td><%=item["url"]%></td>
        <td><%=item["id"]%></td>
        <td><%=item["commentCount"]%></td>
        <td><%=item["points"]%></td>
        <td><%=item["postedAgo"]%></td>
        <td><%=item["postedBy"]%></td>
      </tr>
     <%end%>
     </tbody>
</table>
<%= paginate @result_data %>

